
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic|Raleway:400);
@import url(https://fonts.googleapis.com/css?family=Roboto);
*{
	box-sizing: border-box;
	margin:0;
}
body{
	margin:auto;
	max-width:1300px;
	min-width: 500px;
	box-shadow: 0 7px 7px;
	font-family: "Raleway";
	-webkit-font-family:"Raleway";
	-moz-font-family:"Raleway";
	-o-font-family: "Raleway";
}
body:after{
content: "";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
a{
	text-decoration: none;
}

header{
	background-color: #ffffff;
	min-height: 55px;
	height:auto;
	border-bottom: solid 1px #D6CFCF;
	overflow: hidden;
}

.logo{
	padding: 14px 34px;
	color: #0099FF;
	font-family: 'Orbitron', sans-serif;
	float:left;
	font-size: 16pt;
}
nav{
	display: block;
	float:right;
	padding: 23px 40px 0 0;
}
nav a, nav select{
	margin-left:15px;
	font-size: 11px;
	font-family: "Raleway";
	appearance:none;
	border:0;
	color: rgb( 0, 83, 120 );
	font-size: 10pt;
	cursor: pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;

}
select:focus{
	outline:none;
}

#fisio{
	color: #0000CC;
}
.Clouds{
	height: 600px;
	background-image: url(img/topimg.jpg);
	background-repeat: no-repeat;
	font-size: 16px;
	font-family: "Roboto Condensed", sans-serif;
	line-height: 1.4;
	color:white;
}
.Clouds em{
		text-align: center;
				padding-left: 15%;
				padding-top: 300px;
				display: inline-block;
				letter-spacing: 0.5px;
				font-size: 17px;
}
.Clouds p{
	text-align: center;
	margin-top: 15px;
	font-family: "Roboto";
}

.lavoro{
	text-align: center;
	height: auto;
	font-family: "Raleway";
	background-image: url(img/lavoro.jpg);
	color: white;
	min-height: 340px;
}
h1{
	padding-top:55px;
	font-weight: 100;

}

.lavoro p{
	font-size: 16px;
	max-width: 650px;
	margin: auto;
	padding: 35px 0px;
}

#aprofizndizi{
	color: white;
	border:solid #ffffff 2px;
	background-color: transparent;
	width:230px;
	height: 50px;
	transition: 0.5s;
	font-weight: bold;
	letter-spacing: .5px;
	font-family: "Raleway";
}
#leggi{
	margin-top:70px;
	border:solid #777777 2px;
	background-color: transparent;
	width:210px;
	height: 50px;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	letter-spacing: .5px;
	transition: 0.5s;
}

#leggi:hover,#aprofizndizi:hover,#testi:hover,.toTop:hover{
	border:solid #BEBEBE 2px;
	background-color: #708090;
	cursor: pointer;
}
#leggi:focus,#aprofizndizi:focus,#testi:focus,.toTop:focus{
	outline: none;
}

.News{
	text-align: center;
	background-color:white;
	height:auto;
	font-family: "Raleway";
	margin-bottom: 70px;

}
.News section article a{
	color:#304050;
	font-size:11pt;
	float:left;
	padding-top:149px;
	padding-left:10px;
}
.News section article h6{
	margin:50px 0 30px 30px;
	display:flex;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
}
.News div{
	cursor:pointer;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	float: left;
	margin-left: 30px;
	color:#333;
}
section{
	padding-top: 70px;
}
section h2{
	color:#005379;
	font-weight: 200;
	font-size: 1.7em;
	margin-top: 0px;
	margin-bottom: 85px;
}
.FstNew, .SecNew, .ThdNew{
	text-align: center;
	height: 325px;
	background-color:#f8f8f8;
	width:355px;
	display: inline-block;
	position: relative;
	overflow:hidden;
	margin-right: 25px;
	padding-top: 20px;
	color:#005379;
}
.content{
		margin-top:-325px;
		padding: 0;
		background-color: #AEA9D4;
		display: none;
		position: absolute;
		height: 100%;
		width: 100%;
	}
article p {
	text-align: left;
	margin-left:30px;
	max-width: 260px;
	min-height: 155px;
	font-size: 24px;
}
.galandria{
	color: white;
	height: 500px;
	text-align: center;	
}
.galler:after{
content: "";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.galler{
	height: 500px;
	background: url(img/galler.jpg);
	background-repeat: no-repeat;
	width: 50%;
	float: left;
	font-size: xx-large;
	font-family: "Raleway";
	color: rgb( 255, 255, 255 );
	line-height: 1.2;
}
.galler p{
	padding-top: 30%;
}
.ria{
	height: 500px;
	width: 50%;
	float: left;
	background: url(img/Riabilitiz.jpg) ;

}
.ria ul, .Contatti ul{
	text-align: left;
	overflow: hidden;
	font-size: 16px;
	line-height: 2;
	list-style-type: none;
	display:inline-block;
}
.ria ul li span,.Contatti ul li span{
	float: right;
	padding-left: 5px;
}
.ria ul li a, .Contatti ul li a{
	color: #ffffff;
}
.ria p{
	font-family: "Raleway";
	font-size: xx-large;
	line-height: 1.2;
	padding-top: 13%;
	padding-bottom: 35px;
}
.Ilpaz{
	min-height:500px;
	background-color: #f0f0f0;
	text-align: center;
}
.Ilpaz h2{
	padding: 80px 0 48px 0;
	color:#00527a;
}
.Ilpaz blockquote{
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	color:#005279;
	margin: 30px 0 45px 0;
}
.Ilpaz p{
	margin: auto;;
	max-width: 650px;
}
input[type=radio]{
	width:28px;
	margin: 0;
	padding: 0;
	opacity: 0;
}
input[type=radio] + label {
	display: inline-block;
	margin-left: -25px;
	height:12px;
	padding-left: 18px;
	background: url('images/radButton.png') no-repeat 0 0;
	line-height: 24px;
}
input[type=radio]:checked + label{
	background-image :url('images/radButton_active.png');
}
#testi{
	margin-top:60px;
	border:solid #777777 2px;
	background-color: transparent;
	width:210px;
	height: 45px;
	transition: 0.5s;
}
.bott{
	height: auto;
	overflow: hidden;
}
.bott:after{
content: "";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.Feedback{
	padding: 1% 10%;
	text-align: center;
	width: 50%;
	height: 600px;
	font-weight: bolder;
	float:left;
}

.Feedback form input{
	width:390px;
	box-sizing: border-box;
	padding-left: 18px;
	font-size: 11px;
	margin-top: 20px;
	height: 50px;
	background-color: #f0f0f0;
	resize: none;
	border:0;
}
.Feedback form textarea{
	box-sizing: border-box;
	padding: 18px;
	font-size: 12px;
	margin-top: 20px;
	max-height: 150px; 
	resize: none;
	max-width:390px;
	border:0;
	background-color: #f0f0f0;
}
.forSubm{
	font-size: small;
	font-weight: 100;
	text-align: justify;
	color: #919191;
}
.Feedback form input[type=submit]{
	background-color:#00527d;
	color:#fff;
}

.Contatti{
	height: 600px;
	text-align: center;
	width:50%;
	background-color: #00527d;
	float: left;
	color:#ffffff;
}
.Contatti p{
	font-size: xx-large;
	padding-top: 155px;
	padding-bottom:40px;
}
footer{
	color:#9A8E8E;
	width:100%;
	min-height: 300px;
	background-color: #292929;
	font-size: small;
	margin-bottom: 10px;
}
footer p:first-child{
	text-align: center;
	max-width: 223px;
	padding: 40px 0 0 0;
	margin: auto;
}
footer p{
	text-align: center;
	padding: 35px 0 35px 0;
}
.toTop{
	display: block;
	margin:auto;
	text-align: center;
	padding-top: 5px;
	color: #9A8E8E;
	border:solid #9A8E8E 2px;
	background-color: transparent;
	width:80px;
	height: 30px;
	transition: 0.5s;
}
@media (max-width: 768px){
	.Feedback{
		padding: 1%;
		float:none;
		width:auto;
	}
	.galandria{
		height: auto;
	}
	.Contatti, .galler, .ria{
		float:none;
		width:auto;
		background-size: cover;
	}
	nav{
		display: none;
	}
}