
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic|Raleway:400);
 body{
	margin:25px;
	margin-top: 0px;
	max-width:1299px;
	min-width: 500px;
	box-shadow: 0 0 5px;
	font-family: "Raleway";
	-o-font-family: "Raleway";
}
a{
	text-decoration: none;
}

.header{
	background-color: #ffffff;
	min-height: 55px;
	height:auto;
	border-bottom: solid 1px #D6CFCF;
}

.logo{
	width: 650px;
	padding-left: 20px;
	padding-top: 5px;
	color: #0099FF;
	font-family: 'Orbitron', sans-serif;
	display: inline-block;
	font-size: 20pt;
}
nav{
	display: inline-block;
}
nav a, nav select{
	padding-left:15px;
	font-size: 11px;
	font-family: "Raleway";
	/*text-decoration: none;*/
	border:0;
	color: rgb( 0, 83, 120 );
	font-size: 10pt;
	cursor: pointer;

}
select:focus{
	outline:none;
}

#fisio{
	color: #0000CC;
}
.Clouds{
	height: 600px;
	background-image: url(img/topimg.jpg);
	background-repeat: no-repeat;
	font-size: 16px;
	font-family: "Roboto Condensed";
	line-height: 1.4;
	color:white;
}
.Clouds em{
		text-align: center;
		position: absolute;
		padding-left: 9%;
		padding-top: 300px;
		width:49%;
}
.Clouds p{
	margin-top: 0px;
	padding-top: 400px;
	text-align: center;
	font-family: "Roboto";
	/* font-style: medium;  */
}

.lavoro{
	text-align: center;
	height: auto;
	font-family: "Raleway";
	background-image: url(img/lavoro.jpg);
	color: white;
}
h1{
	margin-top: 0px;
	padding-top:40px ;
	font-weight: 100;

}

.lavoro p{
	padding-left: 30%;
	width:40%;
	font-size: 13pt;
}

#aprofizndizi{
	color: white;
	border:solid #ffffff 2px;
	background-color: transparent;
	width:210px;
	height: 50px;
	transition: 0.5s;
	margin-bottom: 95px;
}
#leggi{
	margin-top:70px;
	border:solid #777777 2px;
	background-color: transparent;
	width:210px;
	height: 50px;
	transition: 0.5s;

}

#leggi:hover,#aprofizndizi:hover,#testi:hover,.toTop:hover{
	border:solid #BEBEBE 2px;
	background-color: #708090;
	cursor: pointer;
}
#leggi:focus,#aprofizndizi:focus,#testi:focus,.toTop:focus{
	outline: none;
}

.News{
	text-align: center;
	background-color:white;
	height:auto;
	font-family: "Raleway";
	margin-bottom: 70px;

}
.News section article a{
	color:#304050;
	font-size:11pt;
	float:left;
	padding-top:149px;
	padding-left:10px;
}
.News section article h6{
	margin-left:18px;
	display:flex;
}
.News div{
	cursor:pointer;
}
section{
	padding-top: 70px;
}
section h2{
	color:#005379;
	font-weight: 200;
	font-size: 1.7em;
	margin-top: 0px;
	margin-bottom: 85px;
}
.FstNew, .SecNew, .ThdNew{
	text-align: center;
	height: 325px;
	background-color:#f8f8f8;
	width:355px;
	display: inline-block;
	position: relative;
	overflow:hidden;
	margin-right: 25px;
	padding-top: 20px;
	color:#005379;
}
.content{
		margin-top:-325px;
		padding: 0;
		background-color: #AEA9D4;
		display: none;
		position: absolute;
		height: 100%;
		width: 100%;
	}
/* .slider{
	
} */
article p {
	text-align: justify;
	padding-left:20px;
	padding-right: 20px;
	padding-top: 20px; 
	margin-bottom: 163px;
}
.galandria{
	color: white;
	height: 500px;
	display: flex;
	text-align: center;	
}
.galler{
	height: 500px;
	background: url(img/galler.jpg);
	background-repeat: no-repeat;
	width: 50%;
	font-size: xx-large;
	font-family: "Raleway";
	color: rgb( 255, 255, 255 );
	line-height: 1.2;
}
.galler p{
	padding-top: 30%;
}
.ria{
	height: 500px;
	width: 50%;
	background: url(img/Riabilitiz.jpg) ;
	background-repeat: no-repeat;

}
.ria ul, .Contatti ul{
	text-align: left;
	width:33%;
	overflow: hidden;
	height: 245px;
	font-family: "Times New Roman";
	font-size: 16px;
	padding-left: 33%;
	line-height: 2;
	list-style-type: none;
}
.ria ul li span,.Contatti ul li span{
	float: right;
}
.ria ul li a, .Contatti ul li a{
	color: #ffffff;
}
.ria p{
	font-family: "Raleway";
	font-size: xx-large;
	line-height: 1.2;
	padding-top: 15%;
}
.Ilpaz{
	height:500px;
	background-color: #f0f0f0;
	text-align: center;
}
.Ilpaz h2{
	padding-top: 50px;
	margin-top: 0px;
}
.Ilpaz p{
	width: 400px;
	padding-left: 450px;
}
#testi{
	margin-top:50px; 
	border:solid #777777 2px;
	background-color: transparent;
	width:210px;
	height: 45px;
	transition: 0.5s;
}
.bott{
	height: auto;
	display: flex;
}
.Feedback{
	text-align: center;
	width: 50%;
	height: 600px;
	font-weight: bolder;
	/* min-width: 350px; */
}
.Feedback form{
	margin-left:8%;
	margin-right: auto;
}

.Feedback form input{
	width:390px;
	margin-top: 20px;
	height: 50px;
	background-color: #f0f0f0;
	border:0;
}
.Feedback form textarea{
	margin-top: 20px;
	resize: none;
	border:0;
	background-color: #f0f0f0;
}
.Contatti{
	height: 600px;
	width:50%;
	background-color: #00527b;
	float: left;
	color:#ffffff;
}
.Contatti p{
	font-size: xx-large;
	padding-left: 40%;
	padding-top: 155px;
}
footer{
	color:#9A8E8E;
	height: 300px;
	background-color: #292929;
	font-size: small;
/* 	width: 1300px;
 *//* 	box-shadow: 0px 6px 6px;*/
}
footer p:first-child{
	padding-top: 26px;
	width:21%;
	padding-left: 40%;
	text-align: center;
	margin: 0;
}
footer p{
	padding-top: 26px;
	width:33%;
	padding-left: 34%;
	text-align: center;
	margin: 0;
}
.toTop{
	display: block;
	margin-left: 46%;
	margin-top: 81px;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 8px;
	color: #9A8E8E;
	border:solid #9A8E8E 2px;
	background-color: transparent;
	width:100px;
	height: 25px;
	transition: 0.5s;
}